.notes-list-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.notes-list-wrapper > * {
    width: 100%;
}
.notes-list-wrapper .title-text {
    width: 100%;
    margin-top: 0.5rem;
}
@media screen and (max-width: 1000px) {
    .notes-list-wrapper {
        justify-content: center;
    }
    .notes-list-wrapper .title-text {
        text-align: center;
    }
}
