.filter-section-wrapper {
    border: 1px solid var(--clr-grey-light);
    border-radius: var(--border-radius);
    padding: var(--padding-sm);
    box-shadow: var(--box-shadow-light);
    background-color: var(--clr-whitesmoke);
    width: max-content;
    position: absolute;
    top: 3rem;
    left: -11.5rem;
    z-index: var(--z-index-5);
    display: flex;
    justify-content: space-between;
}
.filter-section-wrapper > * {
    padding: 2rem var(--padding-md) var(--padding-sm);
}
.filter-content label {
    display: block;
    margin-bottom: var(--margin-xs);
    color: var(--clr-black);
    width: max-content;
    cursor: pointer;
}
.filter-content input[type="checkbox"],
.filter-content input[type="radio"] {
    accent-color: var(--clr-primary);
    width: 0.7rem;
    height: 0.7rem;
    margin-right: var(--margin-xs);
}
.filter-content label {
    display: block;
    color: var(--clr-black);
    width: max-content;
    font-size: 0.8rem;
    font-weight: var(--fw-bold-600);
    margin-top: 8px;
}
.filter-content input[type="radio"] {
    accent-color: var(--clr-primary);
    width: 0.8rem;
    height: 0.8rem;
    margin-right: var(--margin-sm);
}
.clear-filter-btn {
    font-weight: var(--fw-bold-600);
    border: 2px solid var(--clr-grey-light);
    border-radius: var(--border-radius);
    background-color: inherit;
    padding: 2px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.clear-filter-btn:active {
    transform: scale(1.02);
}
