.navbar-wrapper {
    width: 100%;
    box-shadow: var(--box-shadow-light);
    height: 4.75rem;
}
.navbar-wrapper .navbar {
    width: 95%;
    height: 100%;
    margin: auto;
}
.navbar .logo {
    font-size: 1.3rem;
    font-weight: var(--fw-bold-600);
}
.navbar .theme-toggle-btn {
    width: 28px;
    height: 28px;
    transition: all 0.75s;
    cursor: pointer;
}
.theme-toggle-btn span {
    font-size: 28px;
}
.theme-toggle-btn.rotate {
    transform: rotate(180deg);
}
.user-profile-wrapper {
    position: relative;
}
.navbar .avatar-text {
    border: none;
    cursor: pointer;
}
.navbar .avatar-small {
    width: 40px;
    height: 40px;
    font-size: medium;
}
.user-dropdown {
    position: absolute;
    top: 4rem;
    right: 1px;
    padding: var(--padding-sm);
    border-radius: 4px;
    width: max-content;
    height: max-content;
    background-color: var(--clr-primary-faded);
}
.user-dropdown.arrow-top:after {
    content: " ";
    position: absolute;
    right: 14px;
    top: -12px;
    border-top: none;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid var(--clr-primary-faded);
}
.user-dropdown .dropdown-btn {
    font-weight: var(--fw-bold-600);
    padding: 0 var(--padding-sm);
    cursor: pointer;
}
