.sidebar-wrapper {
    height: 85vh;
    position: sticky;
    top: 5.5rem;
    left: 0;
    overflow-y: auto;
}
.sidebar {
    width: 100%;
    padding-right: 0.5rem;
    background-color: #f8f8f8;
}
.sidebar-btn {
    border-radius: 0 1.56rem 1.56rem 0;
    text-align: justify;
    font-weight: var(--fw-bold-600);
    font-size: 1rem;
    color: var(--clr-black);
}
.sidebar-btn.active {
    background-color: var(--clr-primary-faded);
}
.sidebar-btn:active {
    transform: scale(0.97);
    transition: 0.1s ease-out;
}
/*  */
.sidebar-label {
    line-clamp: 1;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: inline-block;
    white-space: normal;
}
.sidebar-header {
    display: none;
    position: absolute;
    top: 0;
    z-index: var(--z-index-9);
    width: 100%;
    padding: var(--padding-md);
    background-color: whitesmoke;
    border-bottom: 2px solid var(--clr-primary-faded);
}
@media screen and (max-width: 800px) {
    .sidebar-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: var(--z-index-11);
        height: 100vh;
        background-color: var(--clr-faded-bg);
        display: none;
    }
    .sidebar-wrapper.active {
        display: block;
    }
    .sidebar {
        position: relative;
        width: 17rem;
        height: 100%;
        padding: 5rem 1rem 0 0;
        overflow-y: auto;
    }
    .sidebar-header {
        display: flex;
    }
}
