.note {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-primary-faded);
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    word-break: break-all;
    background-color: var(--clr-white);
}
.content-wrapper {
    display: grid;
    grid-template-columns: 9fr 0.7fr;
}
.note:hover {
    box-shadow: var(--box-shadow-light);
}
.note:active {
    transform: scale(0.99);
}

.note .note-title {
    font-size: 1.1rem;
    font-weight: var(--fw--semi-bold-500);
}
.note-text {
    word-break: break-all;
}
.note-pin {
    width: 24px;
    height: 24px;
}
.note-actions > button {
    margin-left: var(--margin-xs);
}
.note-actions > button > span {
    color: #6d6b6b;
    font-size: 1.3rem;
}
