.note {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-primary-faded);
    border-radius: var(--border-radius);
    min-width: 18rem;
    max-width: 20rem;
    height: 100%;
    word-break: break-all;
    background-color: var(--clr-white);
    position: relative;
}
.note:hover {
    box-shadow: var(--box-shadow-light);
}
.note:active {
    transform: scale(0.99);
    z-index: 1;
}

.note .note-title {
    font-size: 1.1rem;
    font-weight: var(--fw--semi-bold-500);
}
.note-text {
    word-break: break-all;
}
.note-text {
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.note-pin {
    width: 24px;
    height: 24px;
}
.note-actions > * {
    margin-left: var(--margin-xs);
}
.note-actions button span {
    color: #6d6b6b;
    font-size: 1.4rem;
}

/* quill */
.note-text img {
    max-width: 15rem;
    display: block;
}

.note-text li {
    margin-left: 1rem;
}
.note-text ul {
    list-style: unset;
}

/* tag chips */
.tag-chip-wrapper {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.tag-chip {
    border: 1px solid var(--clr-black);
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: var(--fw-bold-600);
    color: var(--clr-black);
    width: max-content;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    margin: 0 4px;
}
.tag-chip .delete-icon {
    font-size: 1.1rem;
    margin-left: 8px;
}

.note .priority-tag {
    border-radius: var(--border-radius);
    border: 2px solid var(--clr-grey-light);
    font-size: 0.75rem;
    font-weight: var(--fw-bold-600);
    padding: 0 var(--padding-sm);
    color: var(--clr-black);
}

.note .priority-field-wrapper {
    bottom: -5.5rem;
}
